<a href="https://colab.research.google.com/github/DomcoSF/Pandas_Learning/blob/main/importar_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/pedido.csv')

In [ ]:
df

,idPedido,dtPedido,flKetchup,descUF,txtRecado
0,0,2023-05-11T10:59:33.000+0000,NaN,Goiás,NaN
1,1,2023-05-11T11:23:42.000+0000,NaN,Paraná,Aquela pizza perfeita! :-D
2,2,2023-05-11T11:24:29.000+0000,NaN,São Paulo,Muito obrigado!!
3,3,2023-05-11T11:29:39.000+0000,NaN,São Paulo,NaN
4,4,2023-05-11T11:31:30.000+0000,NaN,Rio Grande do Sul,Capricha no peperoni
...,...,...,...,...,...
1101,1101,2023-05-25T16:47:40.000+0000,True,Sergipe,Esse formulário deu fome no meio do expediente...
1102,1102,2023-05-25T16:55:35.000+0000,False,São Paulo,NaN
1103,1103,2023-05-25T17:07:05.000+0000,False,São Paulo,Bastante queijo
1104,1104,2023-05-25T18:18:02.000+0000,True,São Paulo,NaN
1105,1105,2023-05-25T18:27:12.000+0000,False,São Paulo,Favor deixar a massa crocante e lave as mãos.

In [ ]:
df.columns

Index(['idPedido', 'dtPedido', 'flKetchup', 'descUF', 'txtRecado'], dtype='object')

In [ ]:
df.shape

(1106, 5)

In [ ]:
df.index

RangeIndex(start=0, stop=1106, step=1)

In [ ]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1106 entries, 0 to 1105
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   idPedido   1106 non-null   int64
 1   dtPedido   1106 non-null   object
 2   flKetchup  1097 non-null   object
 3   descUF     1106 non-null   object
 4   txtRecado  538 non-null    object
dtypes: int64(1), object(4)
memory usage: 301.7 KB

In [ ]:
df.dtypes

idPedido      int64
dtPedido     object
flKetchup    object
descUF       object
txtRecado    object
dtype: object

In [ ]:
tipos_colunas = df.dtypes
tipos_colunas['idPedido']

dtype('int64')